@use "/styles/variables.module" as vars;
@use "/styles/mixin" as mix;

.header {
	background-color: vars.$secondary-color;
	@include mix.from(s) {
		height: 250px;
	}

	.cover_container {
		aspect-ratio: 1 / 1;
		height: 100%;
	}

	.control_container {
		row-gap: 5px;

		> div {
			column-gap: 12px;
			row-gap: 10px;
		}
	}
}
